{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <br><br><br>
    
    <!-- <p class="meta">{{ page.date }}</p> -->
    <section style="padding: 50px 0; text-align: center; background-color: #f8f9fa;">

        <h1>{{ page.title }}</h1>
        <div class="intro">{{ page.intro }}</div>
        {{ page.body|richtext }}
        <div class="container">
            <p style="font-family: Calibri, sans-serif; color: rgb(0, 0, 0); font-size: 20px;">
                • Artworks and historical documents are vulnerable to damage from environmental conditions, accidents, or vandalism, threatening their integrity and accessibility. The recent vandalism of the Mona Lisa highlights the urgent need for novel art reconstruction techniques. Traditional methods are resource-intensive, underscoring the necessity for alternative approaches like deep learning.
            </p>
            <p style="font-family: Calibri, sans-serif; color: rgb(0, 0, 0); font-size: 20px;">
                • This project aims to develop powerful convolutional neural network (CNN) algorithms to assess and reconstruct damaged images, specifically targeting the removal of artificially added multicolour lines. Our goal is to provide scalable and efficient tools for preserving cultural heritage, benefiting galleries, museums, and other cultural institutions.
            </p> 
            <p style="font-family: Calibri, sans-serif; color: rgb(0, 0, 0); font-size: 20px;">
                • By utilising CNN, we seek to contribute to the preservation of valuable cultural artifacts for future generations.
            </p>
        </div>
    </section>
    <!-- <p><a href="{{ page.get_parent.url }}">Return to Home</a></p> -->
{% endblock %}